# Feature Engineering Assignment-5

Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
# On the  basis of  given information i am making a sample dataset that contain two variables Amount of time and Final exam scores.

data = {"Amount of time":[8,7,3,5,9,2.5,6],
       "Final exam scores":[90,86,45,67,95,30,70]}

#here i will convert this data into a dataframe

import pandas as pd

df = pd.DataFrame(data)


df.corr(method ="pearson")

#If amount of  time will increase then Final exam scores will also  increase

                   Amount of time  Final exam scores
Amount of time           1.000000           0.978825
Final exam scores        0.978825           1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [2]:
# So in this situation where we have these two variables amount of sleep and job satisfaction.To calculate the spearman's rank correlation we first need to rank both variables
#for that i am using scipy library

from scipy.stats import spearmanr

#here i  will sample data

data = {"Amount of sleep":[8,7,8,6,9,7,8,8],
       "Job satisfaction":[9,8,8,7,10,8,7,9]}

df = pd.DataFrame(data)

rho, p_value = spearmanr(df[["Amount of sleep", "Job satisfaction"]])

print("Spearman's rank correlation coefficient:", rho)
print("p-value:", p_value)

Spearman's rank correlation coefficient: 0.6692411652515847
p-value: 0.06950698090503384

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [3]:
# let's import  some libraries

from scipy.stats import spearmanr
import pandas as pd

df = {"hours_of_exercise" :[3, 5, 2, 7, 4, 6, 3, 2, 5, 1, 4, 6, 2, 4, 3, 5, 7, 2, 1, 6,
                     3, 4, 5, 2, 6, 7, 3, 4, 5, 2, 6, 1, 4, 5, 3, 2, 6, 7, 4, 5,
                     3, 2, 6, 4, 5, 3, 2, 7, 4, 5],
 "bmi" : [25, 27, 30, 22, 29, 26, 28, 31, 24, 32, 26, 23, 29, 27, 28, 25, 22, 30, 31, 27,
       28, 26, 24, 29, 21, 23, 25, 28, 26, 27, 22, 30, 29, 28, 26, 24, 23, 27, 28, 26,
       29, 31, 23, 25, 27, 29, 22, 28, 26, 24]}

df = pd.DataFrame(df)

#let's calulate pearson correlation

pearson = df.corr(method="pearson")

#let's calculate spaerman's rank correlation

spearman = spearmanr(df[["hours_of_exercise","bmi"]])


print(f"Pearson correlation cofficient: {pearson}")

print(f"Spearman's rank correalation: {spearman}")

Pearson correlation cofficient:                    hours_of_exercise       bmi
hours_of_exercise           1.000000 -0.646824
bmi                        -0.646824  1.000000
Spearman's rank correalation: SpearmanrResult(correlation=-0.6382207175869471, pvalue=6.16330813421653e-07)

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [4]:
df = {"hours_watching_tv" : [3, 2, 4, 5, 1, 3, 2, 4, 5, 2, 3, 1, 4, 5, 2, 3, 4, 1, 5, 2,
                     4, 3, 1, 5, 2, 4, 3, 1, 5, 2, 4, 3, 5, 1, 2, 4, 3, 5, 2, 4,
                     3, 1, 5, 2, 4, 3, 1, 5, 2, 4, 3],
     "physical_activity_level" : [2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1, 4,
                           2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1, 4,
                           2, 3, 1, 4, 2, 3, 1, 4, 2, 3, 1]}

df = pd.DataFrame(df)

pearson = df.corr(method = "pearson")

pearson

                         hours_watching_tv  physical_activity_level
hours_watching_tv                 1.000000                 0.040676
physical_activity_level           0.040676                 1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [6]:
data = {"Age":[25,42,37,19,31,28],
       "Soft drink Preference":["coke","pepsi","mountain dew","coke","pepsi","coke"]}

df = pd.DataFrame(data)

#here i converted them into a numerical  values...

df["Soft drink preference"] = df["Soft drink Preference"].map({"coke":1,"pepsi":2,"mountain dew":3})

df = df.drop("Soft drink Preference" , axis=1)

df

pearson = df.corr(method="pearson")

pearson

                            Age  Soft drink preference
Age                    1.000000               0.758704
Soft drink preference  0.758704               1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [14]:
#okey from the above information i will create a sample  dataset in  which i have a two variables number of  sales calls made per day and number of sales made per week.

data = {"Sales calls  per day":[100,78,90,99,88,56,110,120,90,67,34,78,96,99,67,76,65,56,120,123,98,65,97,34,32,78,90,76,45,150,56],
       "Sales made per week":[40,28,45,46,45,23,67,78,56,45,12,45,56,65,45,34,33,22,78,79,65,45,54,12,10,50,67,45,23,110,12]}

import pandas as pd

df = pd.DataFrame(data)

pearson= df.corr(method="pearson")

pearson

                     Sales calls per day  Sales made per week
Sales calls per day             1.000000             0.932643
Sales made per week             0.932643             1.000000